<div class="menu-item-info-box" *ngFor="let item of menuItem">
  <span class="menu-item-info-box-icon"><img *ngIf="menuItem?.imagePath" src="assets/img/menuItem/cupcake.png"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{item?.name}}</span>
    <span class="menu-item-info-box-detail">{{item?.description}}</span>
    <span class="menu-item-info-box-price">{{item?.price  | currency: 'BRL': true }}</span>
    <a (click)="addCart(item)"><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
</div>
